html {
  height: 100%;
}

body {
  background: url(./img/resto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.title-container {
  margin: 0 auto;
  text-align: center;
}

.name-title {
  color: white;
  font-weight: 900;
  font-size: 40px;
  margin: 0 auto;
  width: 450px;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid white;
  background-color: rgb(0, 83, 104);
}

.nav-container {
  display: flex;
  width: 70%;
  margin: 1rem auto;
}

.op-cont {
  width: 25%;
  border: 1px solid white;
  text-align: center;
  background-color: rgb(0, 83, 104);
}

.op-link {
  color: white;
}

.op-cont:hover {
  cursor: pointer;
  background-color: rgb(0, 83, 104, 0.8);
}

.big-cont {
  width: 60%;
  margin: 1rem auto;
  padding: 1rem;
  background-color: rgb(0, 83, 104, 0.8);
  border: 1px solid white;
  border-radius: 10px;
}

.us-p {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.menu-card {
  display: flex;
  width: 82%;
  margin: 1rem auto;
}

.menu-img {
  width: 300px;
  height: 200px;
}

.desc-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
  padding: 0 10px;
  border: 1px solid white;
  border-radius: 10px;
  width: 65%;
}

.menu-title,
.menu-desc,
.price {
  color: white;
  font-weight: bolder;
}

.delv-p {
  color: white;
  font-weight: bolder;
  font-size: 25px;
}

.find-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.locat {
  color: white;
  font-size: 25px;
  font-weight: bolder;
}

.find-img {
  width: 300px;
  height: 300px;
  margin-left: 10px;
}
